name: Run unit tests

on: [ push ]

jobs:
  test:
    strategy:
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.10', '3.11' ]

    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}


      - name: Install dependencies
        working-directory: ./backend
        run: pip install poetry && poetry install

      - name: Run unit tests
        working-directory: ./backend
        run: poetry run pytest
